.detail-page-container {
  display: flex;
  flex-direction: row;
  width: 95%;
  overflow: hidden;
}

.detail-page-container .mov-poster {
  width: 20%;
  height: 250px;
}
.detail-page-container .movie-details-container {
    padding: 15px;
    width: 75%;
}
.detail-page-container .movie-details-container .details-rating-text{
  color: var(--lightGray);
  padding: 0px 10px;
}
.detail-page-container .movie-details-container .mov-info {
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
  padding: 5px;

}
.detail-page-container .movie-details-container .mov-info .divider-line{
  font-size: 25px;
  font-weight: 900;
  padding: 3px;
}
.detail-page-container .movie-details-container .cast-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 40%;
  font-size: 18px;
  padding: 5px;
}
.detail-page-container
  .movie-details-container
  .mov-info
  .movie-info-second-line-container {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}
.detail-page-container .movie-details-container .mov-info .mov-second-line-details {
  padding: 10px;
}
